<app-nav></app-nav>
<div class="main_page">
    
    <div class="main_page_buttons">
        
        <button class="btn btn-primary btnSelect">New Client
        </button>
        <button class="btn btn-primary btnNotSelect">New Employee</button>
    </div>
    <div class="main_page_client_form">
        <form action="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form_element">
                            <label for="firstname">Active </label>
                            <div class="switch_container">
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                  </label>
                            </div>
                        </div>
                        <div class="form_element">
                            <label for="firstname">Bill To </label>
                            <input type="text" id="firstname" name="firstname">
                        </div>
                        
                        <div class="form_element">
                            <label for="firstname">First Name </label>
                            <input type="text" id="firstname" name="firstname">
                        </div>
                        <div class="form_element">
                            <label for="firstname">Middle Name </label>
                            <input type="text" id="firstname" name="firstname">
                        </div>
                        <div class="form_element">
                            <label for="firstname">Last Name </label>
                            <input type="text" id="firstname" name="firstname">
                        </div>
                        <div class="form_element">
                            <label for="firstname">Cell Phone </label>
                            <input type="text" id="firstname" name="firstname">
                        </div>
                        <div class="form_element">
                            <label for="firstname">Ethnicity </label>
                            <input type="text" id="firstname" name="firstname">
                        </div>
                        <div class="form_element">
                            <label for="firstname">Email </label>
                            <input type="text" id="firstname" name="firstname">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form_element">
                            <label for="firstname">Insurance ID </label>
                            <input type="text" id="firstname" name="firstname">
                        </div>
                        <div class="form_element">
                            <label for="firstname"># of children </label>
                            <input type="text" id="firstname" name="firstname">
                        </div>
                        <div class="form_element">
                            <label for="firstname">SSN </label>
                            <input type="text" id="firstname" name="firstname">
                        </div>
                        <div class="form_element">
                            <label for="firstname">Client ID </label>
                            <input type="text" id="firstname" name="firstname">
                        </div>
                        <div class="form_element">
                            <label for="firstname">Gender</label>
                            <select id="cars" name="cars" class="round">
                                <option value="volvo"></option>
                                <option value="saab">Saab</option>
                                <option value="fiat">Fiat</option>
                                <option value="audi">Audi</option>
                              </select>
                        </div>
                        <div class="form_element">
                            <label for="firstname">Nurse</label>
                            <select id="cars" name="cars" class="round">
                                <option value="volvo"></option>
                                <option value="saab">Saab</option>
                                <option value="fiat">Fiat</option>
                                <option value="audi">Audi</option>
                              </select>
                        </div>
                        <div class="form_element">
                            <label for="firstname">Class coordinator</label>
                            <select id="cars" name="cars" class="round">
                                <option value="volvo"></option>
                                <option value="saab">Saab</option>
                                <option value="fiat">Fiat</option>
                                <option value="audi">Audi</option>
                              </select>
                        </div>
                        <div class="form_element">
                            <label for="firstname">Marital status</label>
                            <select id="cars" name="cars" class="round">
                                <option value="volvo"></option>
                                <option value="saab">Saab</option>
                                <option value="fiat">Fiat</option>
                                <option value="audi">Audi</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form_element">
                            <label for="firstname">City</label>
                            <input type="text" id="firstname" name="firstname">
                        </div>
                        <div class="form_element">
                            <label for="firstname">Country</label>
                            <input type="text" id="firstname" name="firstname">
                        </div>
                        <div class="form_element">
                            <label for="firstname">State </label>
                            <select id="cars" name="cars" class="round">
                                <option value="volvo"></option>
                                <option value="saab">Saab</option>
                                <option value="fiat">Fiat</option>
                                <option value="audi">Audi</option>
                              </select>
                        </div>
                        <div class="form_element">
                            <label for="firstname">Zip code </label>
                            <input type="text" id="firstname" name="firstname">
                        </div>
                        <div class="form_element">
                            <label for="firstname">Referred By </label>
                            <input type="text" id="firstname" name="firstname">
                        </div>
                        <div class="form_element">
                            <label for="firstname">Emergency contact</label>
                            <input type="text" id="firstname" name="firstname">
                        </div>
                        <div class="form_element">
                            <label for="firstname">Case Worker Phone</label>
                            <input type="text" id="firstname" name="firstname">
                        </div>
                        <div class="form_element">
                            <label for="firstname">Case Worker Email</label>
                            <input type="text" id="firstname" name="firstname">
                        </div>
                        <div class="form-element">
                            <button class="btn form-button btnSelect" >Save
                            </button>
                        </div>
                       
                    </div>
                </div>
            </div>
        </form>
        
    </div>
    
        
</div>
